<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MakePhoneList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MakePhoneList.Properties.Settings>
            <setting name="start_command" serializeAs="String">
                <value>$$</value>
            </setting>
            <setting name="end_command" serializeAs="String">
                <value>$$</value>
            </setting>
            <setting name="separator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="end_phone" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="output" serializeAs="String">
                <value />
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="eol" serializeAs="String">
                <value>True</value>
            </setting>
        </MakePhoneList.Properties.Settings>
    </userSettings>
</configuration>